body {
    background-color:bisque;
}
header {
    background-color:aquamarine;
    text-align: center;
    text-transform: uppercase;
    padding: 2px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    
}

.menu {
    color:blue;
    font: size 30px;
    font-weight: bold;
    text-decoration: none;
    padding: 2px;
    text-transform: uppercase;
    letter-spacing: 2px;
    word-spacing: 3px;
    margin-top: 2cm;
    margin-bottom: 1cm;
}
.center {
        margin-left: 25%;
        width: 20cm;
        height: 10cm;
        margin-top: 4cm;
        
      }
      

