
     body {
      background-color:bisque ;}
     
     
     .title{
        color: cornflowerblue;

     }
      
     .select{
      background-image: url(https://www.bing.com/th?id=OIP.Oxw5x5aFMR8XURjaFk8S1QHaEL&w=332&h=187&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2);
     }
     
     input[type = "submit"]
     .degrader{
      background-image: radial-gradient(circle, rgb(4, 0, 255), yellow, rgb(0, 23, 128));}
     
     
     input[type="bouton"] {
         
      background-color:chartreuse;
          border-radius: 80px;
           color:#8ebf42; 
           width: 4cm; 
           height:2cm  }
           input[type="submit"] {
            margin-top: 40px;
            margin-left: 40px;
            margin-bottom: 20px;
            border-radius: 8px;
            background-color:red;
            color:white;
            font-weight: 8px;
            font-family: Arial, Helvetica, sans-serif;
            width:2cm;
            height: 1cm;
            cursor: pointer
          }
     
      .photo{
        border-color: #1c87c9;
        background-image: url(https://www.bing.com/th?id=OIP.K9aOWiP5XukOGHMocSuhUgHaFK&w=299&h=208&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2);
        background-repeat: repeat;
        width: 2cm;
        height: 2cm;
      }
      .photo_radio{
        background-image: url(https://www.bing.com/th?id=OIP.35UyWW5UkqFtM5-2rLScewHaFI&w=179&h=170&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2);
        background-repeat: repeat;
        width: 7em;
        height: 7cm}
         
      
      table {
        border-color: blueviolet;
        width: auto;
        height: auto;

      }
       th, td {
        border: 1px solid #8ebf42;

      }
      thead {
        background-color: #1c87c9;
        color: #ffffff;
      }
      th {
        text-align: center;
        height: 50px;
      }
      tbody tr:nth-child(odd) {
        background: #ffffff;
      }
      tbody tr:nth-child(even) {
        background: #f4f4f4;
      }
      input[type=button] {
        background-color:aquamarine;
        color: red;
        border-radius: radius 6px;
        font-weight: bold;
        border-color: brown;
        color:#8ebf42 white;
        width: 2cm;
        height: 1cm;
        margin-top: 4px;
        margin-left: 25%;
        margin-right: auto;
        cursor: pointer;
     }
     .checkbox-example {
        width: 10px;
        height: 5px;
        background: #555;
        margin: 2px 8px;
        position: relative;
        border-radius: 5px;}

        input[type="radio"] {
           border-radius: 8px;
           border-color:green; 
           width: 1cm; 
           height:1cm  }

     
       


