body {
    background-color: cadetblue;
}

header {
    background-color: #63855ba2;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    color: white;
    font-size: 25px;
    font-weight: bold;

}

button {
    height: 1cm;
    width: 5cm;
    border-radius: 3px;
    background-color: bisque;
    border-color: blue;
}